<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Blog mierder</title>
</head>
<body>   
    
    <h1>Blog Mierder (esto esta en la plantilla base)</h1>
    {% block content %}
        TEXTO POR DEFECTO
    {% endblock %}
        
    {% block footer %}
        <hr>
        <h3>Esto es el footer del padre!</h3>
    {% endblock %}    
</body>
</html>